:root {
  --primary-color: #112715;
  --secondary-color: #2563eb;
  
  --background-color: #ffffff;
  --primary-text-color: #111827;
  --secondary-text-color: #ffffff;

  --button-text-color: #ffffff;
  --border-color: #e5e7eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}